@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-bg-color: hsl(233, 47%, 7%);
  --card-bg-color: hsl(244, 38%, 16%);
  --accent-color: hsl(277, 64%, 61%);

  --white-color: hsl(0, 0%, 100%);
  --main-paragraph-color: hsla(0, 0%, 100%, 0.75);
  --stats-heading-color: hsla(0, 0%, 100%, 0.6);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1.5rem;
  min-height: 100vh;
  font-size: 15px;
  font-family: "Inter", sans-serif;
  background-color: var(--main-bg-color);
}

.card {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  background-color: var(--card-bg-color);
  border-radius: 0.7rem 0.7rem;
}

.card__image {
  position: relative;
  font-size: 0; /* remove whitespace from image overlay */
}
.card__image img {
  max-width: 100%;
  height: auto;
  border-radius: 0.7rem 0.7rem 0 0;
}

.card__image::after {
  content: "";
  background: rgb(170, 92, 219);
  mix-blend-mode: multiply;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.card__content {
  text-align: center;
  padding: 2.4rem 2.1rem 0 2.1rem;
}

.card__header {
  color: var(--white-color);
  font-size: 1.7rem;
  font-weight: 700;
}

.card__header span {
  color: var(--accent-color);
}

.card__description {
  color: var(--main-paragraph-color);
  margin-top: 0.95rem;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 175%;
}

.card__stats {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1.8rem 0 1.2rem 0;
}

.card__stats-item {
  padding: 0.75rem 0;
}
.card__stats-item span {
  color: var(--white-color);
  font-size: 1.45rem;
  font-weight: 700;
}

.card__stats-item p {
  color: var(--stats-heading-color);
  font-family: "Lexend Deca", sans-serif;
  font-size: 0.75rem;
  font-weight: 400;
  letter-spacing: 1px;
  margin: 0.4rem;
}

.attribution {
  position: fixed;
  top: 0;
  font-size: 0.8rem;
  color: var(--white-color);
}

.attribution > a {
  color: var(--accent-color);
}

@media screen and (min-width: 400px) {
  .card__stats {
    flex-direction: row;
  }

  .card__stats-item {
    padding: 0.75rem 0.5rem;
  }
}

@media screen and (min-width: 1050px) {
  .card {
    flex-direction: column;
    flex-flow: row-reverse;
    max-width: 1110px;
  }

  .card__image img {
    width: auto;
    height: 100%;
    border-radius: 0 0.7rem 0.7rem 0;
  }

  .card__content {
    width: 50%;
    text-align: left;
    padding-right: 0;
    padding: 4.6rem 3.8rem 0 3.9rem;
    word-spacing: 2px;
  }

  .card__header {
    font-size: 2.2rem;
  }

  .card__description {
    margin-top: 1.6rem;
    padding-right: 3.8rem;
  }
  .card__stats {
    justify-content: left;
    margin-top: 4.5rem;
    text-align: left;
  }

  .card__stats-item {
    margin-right: 4rem;
    padding: 0;
  }

  .card__stats-item p {
    margin: 0.4rem 0 0 0;
  }
}
